<Files *.php>
    Order Deny,Allow
    Deny from all
</Files>


<Files cron.php>
    Order Allow,Deny
    Allow from all
</Files>

<Files info.txt>
    Order Allow,Deny
    Allow from all
</Files>